.GaelPage {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  .body {
    display: flex;
    align-items:center ;
    flex-direction: row;
    width: calc(100% - 2 * 100px);
    padding: 20px;
    gap: 20px;
  }

  .left {
    width: 100%;
    display: flex;
    flex-direction: column;

    h2 {
      text-align: center;
    }

    p {
      text-align: center;
    }
  }

  .right {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .right-img {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    color: grey;
    img {
      border-radius: 15px;
      margin-bottom: 10px;
    }
  }

  .left-img {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    color: grey;
    img {
      border-radius: 15px;
      margin-bottom: 10px;
    }
  }



  .bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  .bahnschrift{
    font-family: "Bahnschrift";
  }
}