html,body {
  margin: 0;
  padding: 0;
  font-family: "Pixellari";
  background-color: rgba(10,10,10,0.9);
  color: white;
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
 
}

.Page{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@font-face {
  font-family: 'Pixellari';
  src: url("../Font/Pixellari.ttf") format("truetype");
}

@font-face {
  font-family: 'PressStart';
  src: url("../Font/PressStart.ttf") format("truetype");
}
