html,body {
  margin: 0;
  padding: 0;
  font-family: "Pixellari";
  background-color: rgba(10,10,10,0.9);
  color: white;
  width: 100vw;
  height: 100vh;
 
}

.Page{
  width: calc(100vw - 2*20px);
  height: calc(100vh - 2*20px);
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@font-face {
  font-family: 'Pixellari';
  src: url("../Font/Pixellari.ttf") format("truetype");
}

@font-face {
  font-family: 'PressStart';
  src: url("../Font/PressStart.ttf") format("truetype");
}
