.ManoPage {
  margin-top: 120px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  img{
    border-radius: 10px;
  }


  .body {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: calc(100% - 2 * 100px);
    padding: 20px;
    gap: 50px;
  }

  .left {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    h2 {
      text-align: center;
    }
  }

  .right {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  .imgRet {
    margin-top: 20px;
    margin-bottom: 70px;
    width: 78%;
    align-self: center;
  }

  p {
    text-align: center;
    font-size: 18px;
    font-family: "Bahnschrift", serif;
  }
}



.conclusion {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0; /* Réduit l'espace entre chaque élément */
}

a {
  font-size: 22px;
  color: white; /* Hérite la couleur du texte du parent */
  text-decoration: none;
}