.MatthPage{
    display: flex;
    flex-direction: column;
    width: 100%;
    .body{
        display: flex;
        flex-direction: row;
        width: calc(100% - 2*20px);
        height: 60%;
        padding: 20px;
        gap: 20px;
    }
    .left{
        width: 100%;
        display: flex;
        flex-direction: column;
        h2{
            text-align: center;
        }
        p{
            text-align: center;
        }
    }
    .right{
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .bottom{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }
}